Source: nautilus-mediainfo
Section: gnome
Priority: extra
Maintainer: Caldas Lopes <joao.caldas.lopes@gmail.com>
Build-Depends: debhelper (>= 9),
               python-all,
               python-distutils-extra,
               dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/linux-man/nautilus-mediainfo

Package: nautilus-mediainfo
Architecture: all
Section: utils
Priority: extra
Depends: ${python:Depends},
         ${misc:Depends},
         nautilus,
         python-nautilus,
         python-mediainfodll
Description: View media information from the properties tab
